/* Here are the fonts to be used on this portfolio page */

@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/gambarino/Gambarino-Regular.woff2") format("woff2"),
    url("../fonts/gambarino/Gambarino-Regular.woff") format("woff"),
    url("../fonts/gambarino/Gambarino-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/gambarino/Gambarino-Regular.woff2") format("woff2"),
    url("../fonts/gambarino/Gambarino-Regular.woff") format("woff"),
    url("../fonts/gambarino/Gambarino-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/jet/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: regular;
}

/* End of fonts */

:root {
  /* === CSS Variables === */

  --sitebackground: rgba(235, 235, 235, 1);
  --siteblue: rgba(20, 110, 246, 1);
  --btnText: white;
  --btnHover: orange;
  --cardgrey: rgba(224, 224, 224, 1);
  --tagtext: white;
  --tagcolor: black;
  --sitecontrastblue: rgba(191, 207, 233, 1);
  --darkworklight: rgba(102, 102, 102, 1);

  background: var(--sitebackground);
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--sitebackground);
}

/* Fonts */

h1 {
  font-family: "Gambarino-Regular", sans-serif;
  font-size: clamp(2rem, 10vw + 1rem, 7rem);
  font-weight: 400;
}

h2 {
  font-family: "Gambarino-Regular", sans-serif;
  font-size: clamp(2rem, 8vw + 1rem, 3.815rem);
  font-weight: 500;
  line-height: 4rem;
}

h3 {
  font-family: "Gambarino-Regular", sans-serif;
  font-size: clamp(1.5rem, 8vw + 1rem, 2.5rem);
  font-weight: 500;
  line-height: 4rem;
  padding-bottom: 1rem;
}

p {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
}

.quote {
  font-size: 2rem;
  font-style: italic;
}

.about-summary {
  width: 85%;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.about-detail {
  width: 90%;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.jd-navicon {
  width: 3rem;
  border-radius: 50%;
}

.navlinkcust {
  font-family: "Manrope", sans-serif;
}

.hero-img {
  background-image: url("../images/hero-jd.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-blue {
  color: var(--siteblue);
}

.showcase {
  background: var(--darkworklight);
}

/* card background */

.card-bg-color {
  background: var(--cardgrey);
}

.bluefooter {
  background-color: rgba(191, 207, 233, 1);
}

/* control the spacing and formatting of the badges */

.badge-customs {
  margin-right: 0.4rem;
  background-color: var(--tagcolor);
  font-family: "Manrope", sans-serif;
  font-size: 0.7rem;
  padding: 0.3rem;
}

.about-me-content {
  display: flex;
  flex-direction: column;
}

.skills-breakdown {
  display: flex;
  flex-direction: column;
}

.footer-links {
  color: var(--siteblue);
  text-decoration: none;
}

.version {
  font-family: "Jet Brains Mono", monospace;
  padding-bottom: 1rem;
  font-size: 0.75rem;
}
